.modal {
    display: block; /* display block when the modal is open */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
  
  .modal-content {
    background-color: #dad7cd;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #344e41;
    width: 80%;
  }

  .modal-content h2 {
    padding-top: 5px;
  }
  
  .close {
    color: #344e41;
    float: left;
    font-size: 28px;
    font-weight: bold;
  }
  

  .activity-field{
    display: flex;
    background-color: var(--content-background);
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
  }
  
  .activity-field h3{
    padding: 5px;
    margin: 4px;
  }
  
  .user-input{
    width: 70%;
    margin: auto 0;
  }
  
  #submit-button{
    align-items: center;
    margin: auto auto;
  }
  
  #submit-field{
    background-color: var(--content-background-two);
    padding: 10px;
    border-radius: 10px;
    margin: 5px;
    text-align: right;
  }