:root {
  --primary: #344e41;
  --secondary: #dad7cd;
  --content-background: #dad7cd;
  --content-background-two:#a3b18a;
  --content-background-three:#c7d0b8;
  --footer-background: #3a5a40;
  --review-background: #adb5bd;
  --header-color:#3a5a40;
  --page-background:#ebeee6;
  --unchecked-star: #7a8c7b;

}

html {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  margin: 0;
  margin-bottom: 20px;
  background-color: var(--page-background);
}



#header-content h1 {  
  color: var(--secondary);
  margin: 5px 0;
  font-size: 4ch;
}

a { 
  text-decoration: none; 
  color: #000000; 
}

a:hover { 
  background-color: var(--secondary); 
}

h1, h2, h3, h4 { 
  color: var(--header-color); 
}

hr {
  color: var(--header-color);
}

main { 
  max-width: 90%; 
  margin: 15px auto; 
}

.content { 
  background-color: var(--content-background); 
  border-radius: 5px; 
  margin-bottom: 20px; 
}

.content h2, .content h1 { 
  max-width: 85%; 
  margin: 10px auto; 
  padding: 10px; 
}

.featured p {
  max-width: 85%;
  margin: 5px auto;
  padding-bottom: 10px;
}

.featured img, .recommended img { 
  display: block; 
  margin: 0 auto; 
  width: 70%; 
  height: auto; 
  border-radius: 5px;
}

.featured a h2 { 
  padding: 5px; 
}

.recommended div { 
  width: 90%; 
  height: auto; 
  margin: 0 auto; 
  justify-content: space-between; 
}

.recommended .columns section { 
  flex: 1; 
  margin: 0 5px; 
}

.columns { 
  display: flex; 
  flex: 1;
  flex-direction: column;
}

@media (min-width: 850px) {
  main {
    max-width: 80%;
    margin: 15px auto;
  }

  .columns {
    flex-direction: row;
  }

}

